.DS_Store
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Model weights folder
weights/

# TensorBoard logs folder
logs/

# Datasets data folder
data/

# .pt files because they are too big for github
**/*.pt
**/*.safetensors

# Out files
*.out
**/test.json
