.DS_Store
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
retnet301.pt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Model weights folder
weights/

# TensorBoard logs folder
logs/

# Datasets data folder
data/
